<div class="container">
  <div class="row d-block text-center">
    <h1 class="mb-2">About</h1>
    <p>
      ながのCAKEは全国発送可能なケーキ屋さんです。</br>
      お子様からお年寄りの方まで召し上がりいただけるよう、</br>
      様々なバリエーションをご用意しております。</br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
      ぜひご注文ください。
    </p>
    <%= image_tag 'kangaroo.png', class: "img-fluid" %>
  </div>
</div>